#[axis_twist_compensation]
#horizontal_move_z: 5
#calibrate_start_x:20
#calibrate_end_x :330
#calibrate_y :175
#z_compensations: 0.007421, -0.023668, 0.016247
#compensation_start_x: 20.0
#compensation_end_x: 330.0

[z_tilt]
z_positions: 
	-46, 20
	175, 363
	396, 20
points: 
	30, 5
	175, 295
	320, 5
speed:200

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_5DB2A2894E5737374D202020FF071120-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 27.5 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
speed:5.0
lift_speed:10.0
backlash_comp:1.0
trigger_distance:1.0
cal_nozzle_z: 0.2
cal_floor:0.4
cal_ceil:2.0
cal_speed: 10.0
cal_move_speed: 10.0
home_xy_position: 175, 170
home_z_hop: 3
home_z_hop_speed: 30
home_xy_move_speed: 100
home_gcode_pre_x: _HOME_PRE_AXIS_X AXIS=X
home_gcode_post_x: _HOME_POST_AXIS_X AXIS=X
home_gcode_pre_y: _HOME_PRE_AXIS_Y AXIS=Y
home_gcode_post_y: _HOME_POST_AXIS_Y AXIS=Y

[bed_mesh]
algorithm: bicubic
speed: 600
mesh_min: 35, 35
mesh_max: 330, 330
probe_count: 50, 50

